{namespace t=ArminVieweg\T3lephant\ViewHelpers}

<f:layout name="Backend" />
<f:section name="functions">
	<t:be.includeCssFile path="{f:uri.resource(path:'Css/T3lephant.css', extensionName: 't3lephant')}" />
	<f:if condition="{t:be.version.typo3.is7()} == 0">
		<t:be.includeCssFile path="{f:uri.resource(path:'Css/Contrib/bootstrap.min.css', extensionName: 't3lephant')}" />
		<t:be.includeCssFile path="{f:uri.resource(path:'Css/Contrib/bootstrap-theme.min.css', extensionName: 't3lephant')}" />
	</f:if>
</f:section>
<f:section name="buttons">
	<h4 class="header">
		<f:image src="{f:uri.resource(path:'Icons/t3lephant-256.png')}" width="32" alt="{f:translate(key:'LLL:EXT:t3lephant/Resources/Private/Language/locallang.xlf:mlang_labels_tablabel')}" />
		<span><f:translate key="LLL:EXT:t3lephant/Resources/Private/Language/locallang.xlf:mlang_labels_tablabel" /></span>
		<span class="version">{t:be.version.t3lephant()}</span>
	</h4>
</f:section>
<f:section name="content">
	<f:alias map="{lll: 'LLL:EXT:t3lephant/Resources/Private/Language/locallang.xlf:'}">
		<div class="row space-bottom">
			<div class="col-lg-12">
				<div class="nav-group">
					<f:link.page class="btn btn-primary">{f:translate(key:'{lll}refresh')}</f:link.page>
					<f:link.external uri="https://bitbucket.org/ArminVieweg/t3lephant/" target="_blank" class="btn btn-default">{f:translate(key:'{lll}help')}</f:link.external>
				</div>
			</div>
		</div>

		<div class="row space-bottom">
			<div class="col-xs-12">
				<f:flashMessages renderMode="div" />
			</div>
		</div>

		<div class="row space-bottom">
			<div class="col-lg-12">
				<b>Configured Provider:</b> <code>{dataProviderClass}</code>
			</div>
		</div>

		<div class="row space-bottom">
			<div class="col-lg-12">
				<b>Configured dump files</b><br>
				<f:if condition="{dumps -> f:count()} > 0">
					<f:then>
						<ul>
							<f:for each="{dumps}" as="dump">
								<li class="space-bottom">
									{dump.filePath} <span class="label label-default">{dump.table}</span> {f:if(condition:'{dump.validationErrors -> f:count()} > 0', then:'<span class="label label-warning">Invalid</span>', else: '<span class="label label-success">Valid</span>')}
									<f:if condition="{dump.validationErrors -> f:count()} > 0">
										<ul class="">
											<f:for each="{dump.validationErrors}" as="validationError">
												<li>
													<div>{validationError.message}</div>
													<f:if condition="{validationError.data -> f:count() > 0}">
														<pre>{validationError.data -> t:format.toJson()}</pre>
													</f:if>
												</li>
											</f:for>
										</ul>
									</f:if>
								</li>
							</f:for>
						</ul>
					</f:then>
					<f:else>
						<em>None</em>
					</f:else>
				</f:if>
			</div>
		</div>

		<f:if condition="{dumps -> f:count()}">
			<div class="row">
				<div class="col-lg-12">
					<f:if condition="{validationStatus}">
						<f:then>
							<f:if condition="{dataCompareResult -> f:count()} > 0">
								<f:then>
									<h3>Differences</h3>
									<div class="alert alert-warning">
										Database is not in sync with defined dump contents.<br>
										{dataCompareResult -> f:count()} row(s) affected.
									</div>
									<table class="table table-striped">
										<thead>
											<tr>
												<th>Table</th>
												<th>Identifier</th>
												<th>Type</th>
												<th>Dump values</th>
												<th class="updateDirectionIndicatorHead"></th>
												<th>Current database values</th>
											</tr>
										</thead>
										<tbody>
											<f:for each="{dataCompareResult}" as="difference">
												<tr>
													<td>{difference.dump.table}</td>
													<td>{difference.dumpPrimaryKey}:{difference.dumpPrimaryKeyValue}</td>
													<td><span class="label {f:if(condition:'{difference.status} == \'new\'', then:'label-success', else:'label-warning')}">{difference.status}</span></td>
													<td><pre>{difference.diff -> t:format.toJson()}</pre></td>
													<td class="updateDirectionIndicator">»</td>
													<td><pre>{difference.affectedDatabaseValues -> t:format.toJson()}</pre></td>
												</tr>
											</f:for>
										</tbody>
									</table>

									<f:link.action action="import" class="btn btn-success pull-right">Perform database update</f:link.action>
								</f:then>
								<f:else>
									<div class="alert alert-success">Everything up to date!</div>
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<div class="alert alert-danger">
								Please fix validation errors and refresh.
							</div>
						</f:else>
					</f:if>
				</div>
			</div>
		</f:if>

	</f:alias>
</f:section>
