table.typo3-dblist tr td div.typo3-clipCtrl {
	min-width: 90px;
}

.typo3-docheader-functions,
.typo3-docheader-buttons {
	background: transparent;
}

#typo3-docheader > div.inner {
	background: #eee;
	height: 54px;
}

.btn {
	text-decoration: none !important;
}
